/**
 * style.css
 *
 * 适用于整站的样式规则
 */
@charset "utf-8";
@viewport{width:device-width;}

body {color:#333;background-color:#fff;}
.container {padding:0;/* 清理BootStrap样式 */}

a {color:#333;text-decoration:none;/* 清理BootStrap样式 */}
	a:hover {color:#999;}
	
/* 修复BootStrap样式 */


h2 {color:#333;font-size:22px;}
	h2>span {color:gray;font-size:20px;}
h3 {color:#333;font-size:20px;line-height:20px;margin-top:25px;padding-top:12px;padding-bottom:12px;border-bottom:1px solid #ddd}
	
#header {font-size:14px;background-color:#373942;}
	#header h1 {width:100%;margin:0;}
	#header a {color:#e5e9ee;display:block;width:100%;height:100%;text-align:center;padding:0 20px;}
		#header a:hover, #header .active a {background-color:#2b2d34;}
	#header>.container>* {height:44px;line-height:44px;}
	
#breadcrumb {color:#4cb5ff;font-size:12px;background-color:#0089cd;height:80px;line-height:80px;overflow:hidden;}
	#breadcrumb a {color:#4cb5ff;}
	.breadcrumb {background-color:transparent;border-radius:0;margin-bottom:0;}
		.breadcrumb>.active {color:#fff;}

#content {padding:40px 0;}
	.detail h2+p {margin-top:30px;}
	.detail table {margin:15px 0;}
		.detail th, .detail td {border:0;}

#footer {color:#666;font-size:12px;background-color:#373942;padding:20px 0 25px;text-align:center;}
	#footer a {color:#999;}
		#footer a:hover,#footer a:active {color:#4cb5ff;}

/* 宽度在768像素以上的设备 */
@media only screen and (min-width:769px)
{
	#header>.container>* {height:64px;line-height:64px;}
	#header h1 {width:auto;float:left;}
	#nav-header {margin-left:40px;float:left;}
	#account-panel {float:right;}
	
	#footer {padding:40px 0 50px;text-align:left;}
}

/* 宽度在960像素以上的设备 */
@media only screen and (min-width:961px)
{
	.container {width:960px;}
}

/* 宽度在1280像素以上的设备 */
@media only screen and (min-width:1281px)
{
	.container {width:1280px;}
}