/**
 * style.css
 *
 * 适用于整站的样式规则
 */
@charset "utf-8";
@viewport{width:device-width;}

* {box-sizing:border-box;}
body {color:#333;background-color:#fff;font:1rem/1.5 "FZLanTingHei","微软雅黑",verdana,sans-serif;}
figure {line-height:1;}
img {width:100%;max-width:100%;}
a {color:#333;}
	a:hover {color:#999;}

h2 {color:#333;font-size:22px;}
	h2>span {color:gray;font-size:20px;}
h3 {color:#333;font-size:20px;line-height:20px;margin-top:25px;padding-top:12px;padding-bottom:12px;border-bottom:1px solid #ddd}

table {font-size:12px;border: 1px solid #dddddd;table-layout:fixed;}

th, td {border:1px solid #ddd;word-break:break-all;overflow-wrap:break-word;}
th {color:#fff;background-color:#666;padding:10px;text-align:left;}
td {padding:6px 10px;line-height:24px;}

.horizontal {overflow:hidden;}
	.horizontal li,.horizontal .li {float:left;display:inline;}
	
#header {font-size:14px;background-color:#373942;}
	#header a {color:#e5e9ee;display:block;height:100%;padding:0 20px;}
		#header a:hover, #header .active a {background-color:#2b2d34;}
	#header>.container>* {float:left;height:64px;line-height:64px;}
	#nav-header {margin-left:40px;}
	#header #account-panel {float:right;}
	
#breadcrumb {color:#fff;font-size:12px;background-color:#0089cd;height:80px;line-height:80px;overflow:hidden;}
	#breadcrumb a {color:#fff;}
	#breadcrumb li {float:left;}
		#breadcrumb li:not(:last-child):after {content:">";padding:.5em;}

#content {padding-top:40px;}
	.detail h2+p {margin-top:30px;}
	.detail table {margin:15px 0;}
		.detail th, .detail td {border:0;}

#footer {color:#666;font-size:12px;background-color:#373942;padding:40px 0 50px;}
	#footer a {color:#666;}

#totop {position:fixed;right:1em;bottom:1em;}

/* 宽度在640像素以上的设备 */
@media only screen and (min-width:641px)
{
	.container {width:95%;margin:0 auto;}
}

/* 宽度在960像素以上的设备 */
@media only screen and (min-width:961px)
{
	.container {width:960px;}
}

/* 宽度在1280像素以上的设备 */
@media only screen and (min-width:1281px)
{
	.container {width:1280px;}
}